{% extends "base.html" %}

{% block title %}Електротехник София | Електро услуги{% endblock %}

{% block hero %}
<section class="hero d-flex align-items-center">
    <div class="container text-center text-white">
        <h1 class="fw-bold display-5">
            Професионални Електро Услуги
        </h1>

<!--        <p class="lead mt-3">-->
<!--            Бърза реакция • Коректни цени • 24/7 Спешни повиквания-->
<!--        </p>-->

<!--         <p>-->
<!--            Ако търсите надежден електротехник в София,-->
<!--            ние гарантираме бърза реакция, професионално обслужване-->
<!--            и прозрачни цени без скрити такси.-->
<!--         </p>-->
<!--        <p>-->
<!--        Предлагаме цялостни електро услуги в София – от аварийни ремонти-->
<!--        до изграждане на нови електро инсталации.-->
<!--        </p>-->
<!--    <div class="row text-center">-->
<!--        <div class="col-6 col-md-3">Люлин</div>-->
<!--        <div class="col-6 col-md-3">Младост</div>-->
<!--

        <div class="mt-4 d-flex flex-column flex-md-row justify-content-center   <div class="col-6 col-md-3">Надежда</div>-->
<!--        <div class="col-6 col-md-3">Дружба</div>-->
<!--        <div class="col-6 col-md-3">Студентски град</div>-->
<!--        <div class="col-6 col-md-3">Обеля</div>-->
<!--        <div class="col-6 col-md-3">Център</div>-->
<!--        <div class="col-6 col-md-3">Лозенец</div>-->
<!--    </div>gap-3"> -->
            <a href="tel:+359888123456" class="btn btn-warning btn-lg">
                📞 Обади се сега
            </a>

            <a href="/contact/" class="btn btn-outline-light btn-lg">
                Безплатна консултация
            </a>
        </div>
    </div>
</section>
{% endblock %}

{% block content %}

<!--<h2 class="text-center section-title">Нашите услуги</h2>-->

<!--<div class="row text-center">-->
<!--    <div class="col-md-4 mb-4">-->
<!--        <div class="card shadow p-4">-->
<!--            <h4>⚡ Смяна на ел. табло</h4>-->
<!--            <p>Монтаж и подмяна на електрически табла</p>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="col-md-4 mb-4">-->
<!--        <div class="card shadow p-4">-->
<!--            <h4>🔌 Нова инсталация</h4>-->
<!--            <p>Изграждане на електроинсталации</p>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="col-md-4 mb-4">-->
<!--        <div class="card shadow p-4">-->
<!--            <h4>🚨 Аварийни ремонти</h4>-->
<!--            <p>24/7 спешни електро услуги</p>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

{% endblock %}
