{% extends "base.html" %}

{% block title %}Електротехник София | Електро услуги{% endblock %}

{% block hero %}
<div class="hero">
    <h1 class="display-4 fw-bold">Професионален електротехник ⚡</h1>
    <p class="lead">Предлагаме качествени електро услуги за жилищни, търговски и индустриални обекти.</p>
   <p> Нашият екип от квалифицирани електротехници работи бързо, сигурно и с внимание към всеки детайл.</p>

    Извършваме изграждане на нови електроинсталации, ремонт и подмяна на стари системи, монтаж на осветление, електрически табла и диагностика на електрически повреди.

    <p>Работим с модерни технологии и качествени материали, за да гарантираме безопасност и дълготрайна работа на всяка инсталация.</p>
    <a href="/contact/" class="btn btn-warning btn-lg mt-3">
        Обади се сега
    </a>
    
</div>

{% endblock %}
