{% extends "base.html" %}

{% block title %}Цени за електро услуги{% endblock %}

{% block content %}

<h1 class="text-center section-title">Цени</h1>

<div class="table-responsive">
    <table class="table table-bordered text-center">
        <tr>
            <th>Услуга</th>
            <th>Цена от</th>
        </tr>
        <tr>
            <td>Смяна на контакт</td>
            <td>25 лв.</td>
        </tr>
        <tr>
            <td>Смяна на ключ</td>
            <td>20 лв.</td>
        </tr>
        <tr>
            <td>Монтаж на ел. табло</td>
            <td>150 лв.</td>
        </tr>
    </table>
</div>


{% endblock %}
