{% extends "base.html" %}

{% block title %}
За нас
{% endblock %}

{% block content %}

<section class="about-section">

    <h1>За нас</h1>
    <p>
        Електрическата инсталация е една от най-важните системи във всяка сграда. Тя осигурява електрозахранването за всички електроуреди, осветление и оборудване, които използваме ежедневно. Затова изграждането и поддръжката на електроинсталациите трябва да се извършва от квалифицирани специалисти с опит и знания в областта на електротехниката.
    </p>
    <p>
        Нашата фирма предлага професионални електротехнически услуги за
        жилищни, търговски и индустриални обекти. Работим с внимание към
        всеки детайл и се стремим да предоставяме надеждни и безопасни
        решения за нашите клиенти.
    </p>

    <p>
        С дългогодишен опит в областта на електроинсталациите, ние
        извършваме изграждане, ремонт и поддръжка на електрически
        системи. Нашият екип от квалифицирани електротехници работи
        с модерни технологии и висококачествени материали.
    </p>
    <h2>Какво предлагаме:</h2>

    <ul>
        <li>опитен и квалифициран екип</li>
        <li>бърза реакция при аварии</li>
        <li>използване на качествени материали</li>
        <li>конкурентни цени</li>
        <li>гаранция за извършената работа</li>
            </ul>

    <p>
        Нашата цел е да осигурим качествени електротехнически услуги,
        които гарантират безопасност, надеждност и дългосрочно
        удовлетворение на клиентите.
    </p>

</section>

{% endblock %}